/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    margin-bottom: 20px;
}
.container {
    max-width: 60vw;
    margin: 100px auto;

}

.border {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

